<h1>Error Page</h1>

<div class="error"><p><%= error %></p></div>


def clients_url(identifier)
     @client = Client.find_by(identifier: identifier)
     helpers do
       "<a href='#{:identifier}/urls/#{:relative_path}'>#{@client.capitalize} Urls</a>"
     end
   end


def clients_url(identifier)
     @client = Client.find_by(identifier: identifier)
     helpers do
       "<a href='#{:identifier}/urls/#{:relative_path}'>#{@client.capitalize} Urls</a>"
     end
   end

get '/sources/:identifier/urls/:relative_path' do |identifier|
     if !Client.exists?(identifier: identifier)
       error = "Not registered"
       erb :error, locals: {error: error}

     elsif PayloadRequest.exists?(client_id: Client.find_by(identifier: identifier).id)
       @relative_path = Client.find_by(identifier: identifier).where(relative_path: relative_path)
       erb :clients_specific_url_stats

     else
       error = "Sorry, No Urls Associated With Your Account"
       erb :error, locals: {error: error}
     end

def link_to(route, title)
 "<a href='/#{route}'>#{title}</a>"
end
