<center><div class="Jumbotron">
  <h1><%= @client.identifier.capitalize %> Statistics for <%= @client.event_name %><br>Hourly Breakdown: </h1>
</div></center>

  <h3><%= @client.event_name.requested_at.each do |event, hour|%></h3>
  <h3>12 am</h3>Hour name
  event_name.count
  <p class="12 am"><%= @client.event_name.requested_at %></p>
