<center><div class="Jumbotron">
  <h1><%= @event.event_name %><br>Hourly Breakdown:</h1>
</div></center>

  <h3>Hourly Breakdown:</h3>
  <% 24.times do |hour|%>
    <p class="hourly_count">
      <%= "#{hour} : #{hours_hash[hour.to_f]}"%></p>
  <% end %>

  <h3>Total Number of Times Event Was Recieved:</h3>
  <p class="event_total_count"><%= @event.total_count %></p>
