<center><div class="Jumbotron">
  <h1><%= @event.event_name %><br>Hourly Breakdown:</h1>
</div></center>

  <h3><%= @event.hourly_requests.each do |hour, count|%></h3>
  <p class="hourly_count"><%= hour + " : " count %></p>
      <% end %>

  <h3>Total Number of Times Event Was Recieved:</h3>
  <p class="event_total_count"><%= @event.total_count %></p>

  <!-- hash, key is hour, value is the count -->
  <!-- overall count on all hours method call -->
  <!-- create another route -->
